.units h1 {
    text-align: center;
    background-color: #2F2B4A;
    color: #EC3944;
    margin: 0 auto;
    padding: 50px;
}

.units h3 {
    text-align: center;
    background-color: #2F2B4A;
    color: white;
    margin: 0 auto;
    height: 30px;
    padding: 20px;
}

.units h4 {
    color: #EC3944;
}

.sprints {
    border: 1px solid red;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 1% auto;
}

.modules {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 45%;
    border: 1px solid blue;
}
.modules div {
    border: 1px solid yellow;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 55%;
}

.sprint {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.modules h4 {
    color: #EC3944;
    display: flex;
    flex-flow: row wrap;
    width: 45%;
}

img {
    margin: 2%;
    width: 200px;
    height: 150px;
}

