
.lambdaTitles h1 {
    text-align: center;
    background-color: #2F2B4A;
    color: #EC3944;
    margin: 0 auto;
    padding: 50px;
}

.lambdaTitles h3 {
    text-align: center;
    background-color: #2F2B4A;
    color: white;
    margin: auto;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.lambdaTitles {
    text-align: center;
}